<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판</title>
    <style type="text/css">
        #qjxms {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>게시판 입니다.</h1><hr>
    <form action="/create">
        제목 : <input type="text" name="title"/><br>
        내용 : <input type="text" name="content"/><br>
        <input type="submit" id="qjxms">
    </form>
    {% for p in posts %}
        <p>제목 : {{ p.title }}</p>
        <p>내용 : {{ p.content }}</p>
        <a href="/edit/{{ p.id }}">[수정]</a>
        <a href="/delete/{{ p.id }}">[삭제]</a>
        <p>-------------------댓 글------------------</p>
        <form action="/create_comment">
            <input type="text" name="comment_content">
            <input type="hidden" name="post_id" value ="{{ p.id }}">
            <input type="submit">
        </form>
        {% for d in comments %}
            <p>{{ d.post_id }} : {{ d.content }}</p>
        {% endfor %}
        <hr>
    {% endfor %}
</body>
</html>